name: Snap build and test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allow manual trigger
  workflow_dispatch:

env:
  SNAP_AMD64: rt-tests_${{ github.run_number}}_amd64.snap

jobs:
  build:
    outputs:
      snap: ${{ steps.snapcraft.outputs.snap }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build snap
        uses: snapcore/action-build@v1
        id: snapcraft

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.SNAP_AMD64 }}
          path: ${{ steps.snapcraft.outputs.snap }}
          if-no-files-found: error

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.SNAP_AMD64 }}

      - name: refresh snapd
        run: |
          sudo snap refresh snapd

      - name: Install snap
        run: |
          sudo snap install --dangerous *.snap

      - name: Connectins snap interface
        run: |
          sudo snap connect rt-tests:process-control
          sudo snap connect rt-tests:mount-observe
          sudo snap connect rt-tests:system-trace
          sudo snap connect rt-tests:sys-kernel-debug-sched-features
          sudo snap connect rt-tests:cpu-control

      - name: Creating snap aliases
        working-directory: test
        run: |
          ./alias-snap-apps

      - name: Run tests for rt-test applications
        working-directory: test
        run: |
          sudo ./run
 
